<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">

	<resultMap id="noticeResultSet" type="notice">
		<result column="NOTICE_NO" property="noticeNo" />
		<result column="NOTICE_WRITER" property="noticeWriter" />
		<result column="NOTICE_TITLE" property="noticeTitle" />
		<result column="NOTICE_CONTENT" property="noticeContent" />
		<result column="STATUS" property="status" />
	</resultMap>
	
	<!-- 공지사항 전체 조회 -->
	<select id="selectList" resultMap="noticeResultSet">
		SELECT NOTICE_NO, NOTICE_WRITER, NOTICE_TITLE, NOTICE_CONTENT, N.STATUS
		FROM NOTICE N, MEMBER M
		WHERE N.STATUS = 'Y'
		AND NOTICE_WRITER = MEMBER_NO
	</select>
	
	<!-- 공지사항 상세 조회 -->
	<select id="selectNotice" parameterType="_int" resultMap="noticeResultSet">
		SELECT NOTICE_NO, NOTICE_TITLE, NOTICE_CONTENT, NICKNAME
		FROM(SELECT *
			 FROM NOTICE
			 WHERE STATUS = 'Y'
			 AND NOTICE_NO = #{noticeNo})
		JOIN MEMBER ON(NOTICE_WRITER = MEMBER_NO)
  	</select>
	
	<!-- 공지사항 작성 -->
	<insert id="insertNotice" parameterType="notice">
     	INSERT INTO NOTICE
		VALUES(SEQ_NNO.NEXTVAL
		     , #{noticeWriter}
		     , #{noticeTitle}
		     , #{noticeContent}
		     , DEFAULT)
  	</insert>
	
	<!-- 공지사항 삭제 -->
  	<update id="deleteNotice" parameterType="_int">
  		UPDATE NOTICE
  		   SET STATUS = 'N'
  		 WHERE NOTICE_NO = ${noticeNo}
  	</update>
  	
  	<!-- 공지사항 수정 -->
  	<update id="updateNotice" parameterType="notice">
  		UPDATE NOTICE
  		   SET NOTICE_TITLE = #{noticeTitle}
  		     , NOTICE_CONTENT = #{noticeContent}
  		 WHERE NOTICE_NO = #{noticeNo}
  	</update>

</mapper>