<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="roomMapper">
	
	<resultMap id="roomResultSet" type="roomVO">
		<result column="ROOM_NO" property="roomNo" />
		<result column="SPACE_NO" property="spaceNo" />
		<result column="SPACE_TITLE" property="spaceTitle" />
		<result column="SPACE_SELLER" property="spaceSeller" />
		<result column="ROOM_title" property="roomTitle" />
		<result column="BED_TYPE" property="bedType" />
		<result column="BED_COUNT" property="bedCount" />
        <result column="STATUS" property="status" />
        <result column="START_DATE" property="startDate" />
        <result column="END_DATE" property="endDate" />
		<result column="PRICE" property="price" />
		<result column="PEOPLE_COUNT" property="peopleCount" />
        <result column="ORIGIN_NAME" property="originName" />
        <result column="CHANGE_NAME" property="changeName" />
	</resultMap>
	
	<select id='roomGets' parameterType='_int' resultMap='roomResultSet'>
		SELECT R.*, S.SPACE_TITLE, M.MEMBER_NAME AS SPACE_SELLER
		FROM ROOM R, SPACE S, MEMBER M
		WHERE R.SPACE_NO = S.SPACE_NO
		AND S.MEMBER_NO = M.MEMBER_NO
		AND R.SPACE_NO = #{spaceNo}
		AND R.STATUS = 'Y'
	</select>

	<select id="roomGet" parameterType="hashMap" resultMap="roomResultSet">
		SELECT R.*, S.SPACE_TITLE, S.ADDRESS, M.MEMBER_NAME AS SPACE_SELLER
		FROM ROOM R, SPACE S, MEMBER M
		WHERE R.SPACE_NO = S.SPACE_NO
		AND S.MEMBER_NO = M.MEMBER_NO
		AND R.ROOM_NO = #{roomNo}
		AND R.STATUS = 'Y'
	</select>
	
	<insert id="roomPost" parameterType="roomVO">
		INSERT INTO ROOM
		VALUES ()
	</insert>
	
	<update id="roomPut" parameterType="roomVO">
		UPDATE ROOM
		SET ROOM_TITLE = #{roomTitle}
		WHERE ROOM_NO = #{roomNo}
	</update>
	
	<update id="roomDelete" parameterType="_int">
		UPDATE ROOM
		SET STATUS = 'N'
		WHERE ROOM_NO = #{roomNo}
	</update>

	<!--객실 등록-->
    <insert id="roomInsert" parameterType="roomVO">
        INSERT INTO ROOM VALUES(SEQ_RONO.NEXTVAL,#{spaceNo}, #{roomTitle}, #{bedType}, #{bedCount}, default, #{startDate}, #{endDate}, #{price}, #{peopleCount}, #{originName}, #{changeName})
    </insert>
    
    <select id="selectRoomList" parameterType="_int" resultMap="roomResultSet">
    	SELECT ROOM_NO, SPACE_NO, ROOM_TITLE, BED_TYPE,
		    BED_COUNT, STATUS, START_DATE, END_DATE, PRICE,
		    PEOPLE_COUNT, ORIGIN_NAME, CHANGE_NAME
		FROM ROOM
		WHERE SPACE_NO = #{spaceNo}
    </select>
    
    <select id="selectRoom" parameterType="_int" resultMap="roomResultSet">
    	SELECT ROOM_NO, SPACE_NO, ROOM_TITLE, BED_TYPE,
		    BED_COUNT, STATUS, TO_CHAR(START_DATE, 'YYYY-MM-DD') "START_DATE",
		    TO_CHAR(END_DATE, 'YYYY-MM-DD') "END_DATE", PRICE,
		    PEOPLE_COUNT, ORIGIN_NAME, CHANGE_NAME
		FROM ROOM
		WHERE ROOM_NO = #{roomNo}
    </select>
</mapper>