#date-picker-dates {
    background: #f5f5f5;
    padding: 10px;
    margin-bottom: 30px;
    user-select: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.date-picker-date {
    position: relative;
    display: inline-block;
    background: white;
    padding: 10px 15px;
    padding-right: 50px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15), 3px 3px 5px 0 rgba(0, 0, 0, 0.06);
    transition: none;
}
.date-picker-date:hover, .date-picker-date.active {
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2), 3px 3px 5px 0 rgba(0, 0, 0, 0.15);
}
.date-picker-date.active {
    font-weight: bold;
}
.date-picker-date:after {
    position: absolute;
    display: block;
    height: 24px;
    width: 24px;
    top: 10px;
    right: 10px;
    background: url(https://image.freepik.com/free-icon/calendar-icon-in-black_318-9776.jpg&#34;
    );
    background-repeat: no-repeat;
    background-size: 24px;
}